table{
    width: 100%;
    border-collapse: collapse;
}

table, th, td{
    border: 1px solid black;
}

th, td{
    padding: 5px;
}

th{
    background-color: lightblue;
}

#formdiv{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

#formdiv label, input{
    margin: 2px;
    padding: 7px;
}

#formdiv button{
    margin-top: 15px;
    padding:7px;
}

#formdiv label{
    font-weight: bolder;
}

